absl-py
altair
anyio
arrow
asttokens
astunparse
attrs
beautifulsoup4
binaryornot
blinker
cachetools
certifi
chardet
charset-normalizer
click
colorama
comm
contourpy
cookiecutter
cssselect
cycler
debugpy
decorator
executing
fastjsonschema
feedfinder2
feedparser
filelock
flatbuffers
fonttools
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
humanize
idna
ipykernel
ipython
ipython_pygments_lexers
ipyvue
ipyvuetify
ipywidgets
jedi
jieba3k
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
keras
kiwisolver
libclang
lxml
lxml_html_clean
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
Mesa==2.3.2
ml_dtypes
namex
narwhals
nbformat
nest-asyncio
networkx
newspaper3k
nltk
numpy
oauthlib
opt_einsum
optree
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pydeck
Pygments
pymdown-extensions
pyparsing
python-dateutil
python-dotenv
python-slugify
PyYAML
pyzmq
plotly
reacton
referencing
regex
requests
requests-file
requests-oauthlib
rich
rich-click
rpds-py
rsa
scikit-learn
scipy
seaborn
sgmllib3k
six
smmap
sniffio
solara
solara-server
solara-ui
soupsieve
stack-data
starlette
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
termcolor
text-unidecode
textblob
threadpoolctl
tinysegmenter
tldextract
toml
tornado
tqdm
traitlets
tweepy
types-python-dateutil
typing_extensions
tzdata
urllib3
uvicorn
watchdog
watchfiles
wcwidth
websockets
Werkzeug
widgetsnbextension
wrapt
xgboost
kaggle



